{%extends 'MaisonLiguesCroisiereBundle:Default:base.html.twig'%}
{% block corps %}
	<h2>Ajouter port</h2>
	<form action="{{path('maison_ligues_croisiere_ajoutport')}}"method="post">
		{{form_widget(form)}}
		<input type="submit" value="Modifier le port"/>
		</form>
{%endblock%}