{%extends 'MaisonLiguesCroisiereBundle:Default:base.html.twig'%}
{% block corps %}
	<h2>Ajouter bateau</h2>
	<form action="{{path('maison_ligues_croisiere_ajoutbateau')}}"method="post">
		{{form_widget(form)}}
		<input type="submit" value="Modifier le bateau"/>
		</form>
{%endblock%}