{%extends 'MaisonLiguesCroisiereBundle:Default:base.html.twig'%}
{% block corps %}
	<h2>modifier secteur</h2>
<form action=""method="post">
		{{form_widget(form)}}
		<input type="submit" value="Modifier secteur"/>
		</form>
{%endblock%}